html {
  margin: 0px;
  padding: 0px;
  border-radius: -10px;
}

body {
  margin: 0px;
  padding: 0px;
  border-radius: -10px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 3.5em;
  padding: 10px;
  width: autoS;
  height: auto;
  margin:0px;
}

h3 {
  text-align: left;
  font-size: 3.0em;
  align-items: center;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  height: auto;
  margin:0px;
 }

h4{
  text-align: left;
  font-size: 2.5em;
  align-items: center;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 50px;
  height: auto;
  margin:0;
  color: #302e2e;
}

h5{
  text-align: left;
  font-size: 2.0em;
  align-items: center;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 50px;
  height: auto;
  margin:0;
  color: maroon;
}

h6{
  text-align: left;
  font-size: 1.8em;
  align-items: center;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 50px;
  height: auto;
  margin:0;
  color: rgb(22, 22, 22); 
}

footer{
  display:inline !important;
  height:100px !important;
}



nav {
  background-color: rgb(97, 96, 96);
  color:white;
  float: left;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

li {
  display: block;
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

li a {
  font-size: 1.5em;
  color: white;
  height: auto;
  padding: 25px;
  text-decoration: none;
  display: block;
}


a:hover {
  color: rgb(181, 14, 14);
  background-color: rgb(62, 61, 59);
}

a.active {
  color: white;
  background-color: rgb(84, 83, 81);
}


#navbar {
  display: flex;
  float: left;
  margin: 0px;
  padding: 0px;
  min-width: 50%;
  min-height: 500px;
}

#brand {
  display: flex;
  float: right;
  margin: 0px;
  padding: 0px;
  min-width: 50%;
  min-height: 500px;
}

.about{
  background-color:antiquewhite;
  color:black;
  float: left;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.skills{
  background-color:antiquewhite;
  color:black;
  float: left;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.projects{
  background-color:antiquewhite;
  color:black;
  float: left;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}


.row {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  height:auto;
}

.col-md-6 {
  position:relative;
  margin: 0px;
  padding: 0px;
  min-height: 500px;
}

.brand {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-header{
  position:relative;
  margin: 0px;
  padding: 0px;
  height:auto;
  width:100%;
}

.contacts-subsection-header{
  position:relative;
  margin: 0px;
  padding: 0px;
  height:auto;
  width:100%;
}

#about{
  background-image: url("src\images\bg-image-1.jpg");
  background-repeat: no-repeat, repeat;
}

#skills{
position: relative;
display:block;
float:left;
min-width: 100%;
height:100%;
}

#projects{
  width:100%;
  height:auto;
  position:relative;
}

#contacts{
position:relative;
display:flex;
align-items: center;
justify-content: center;
float:left;
height:auto;
width:100%;
padding:0px;
margin:0px;
}

#contacts-section{
position:relative;
display:flex;
float:left;
height:auto;
min-width:47%;
}

#contacts-form{
  position:relative;
  display:flex;
  float:right;
  height:auto;
  min-width:47%;
  }
  
.about-paragraph {
  height: auto;
  min-width: 100%;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}


button {
  border: none;
  color: maroon;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #545353;
}

button:hover {
  color: white;
  background-color: maroon;
  border-radius: 15px;
  transform: scale(1.2);
}

.button {
  height: auto;
  width: 100%;
  align-items: left;
  justify-content: left;
  float: left;
}

.portfolio{
  background-color:antiquewhite;
  color:black;
  float: left;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.resume-list{
  float:left;
  align-items: left;
  justify-content: left;
}

.employment-list{
  float:left;
  align-items: left;
  justify-content: left;  
}

.educatioin-list{
  float:left;
  align-items: left;
  justify-content: left;  
}


.col-md-6{
  margin:0px;
  padding:0px;
}

.col-md-12{
  padding: 0px;
  margin:0px;
  width:auto;
  height: auto;
  position: relative;
  float:left;
  display: inline;
}

.col-md-2{
  display:block;
  align-items: center;
  justify-content: center;
}

.subsection-header{
  height:auto;
  width:100%;
  float:left; 
}

.card{
  min-width: 47%;
  padding: 0px;
  margin:0px;
}

#project-1 , #project-3 {
  padding: 5px;
  margin:5px;
  width:auto;
  height: auto;
  position: relative;
  display:float;
  float:left;
}

#project-2, #project-4{
  padding: 5px;
  margin:5px;
  width:auto;
  height: auto;
  position: relative;
  display:float;
  float:right;
}


